<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
 	
 	
 	<!-- 
 		environments, dataSource => DB연결정보
 		xml 하위패키지,클래스가 getter역할 / dataSource, property setter역할
 		
 		객체를 생성!!

 	 -->
 	 
</configuration>